*{
  margin: 0;
  padding: 0;
}
.img{
  display: block;
  margin: auto;
  width: 600px;
}
.btntost{
  display: block;
  margin: auto;
  padding: 15px;
  width: 200px;
  border-radius: 20px;
  font-size: 20px;
  background-color: beige
}